---
import Footer from "../components/Footer.astro";
import Header from "../components/Header.astro";
import Layout from "../layouts/Layout.astro";
import technologies from "../data/technologies.json";
import TechnologyCard from "../components/about/TechnologyCard.astro";
import EducationAndExperienceCard from "../components/about/EducationAndExperienceCard.astro";
import thomasMoreImg from "../icons/thomasMoreLogo.svg";
import avandeIcon from "../icons/avanadeLogo.svg";
import aboutData from "../data/about.json";

const frontendTechnologies = technologies.frontend;
const backendTechnologies = technologies.backend;
const devopsTechnologies = technologies.devops;
const otherTechnologies = technologies.others;
const education = aboutData.about.education;
const experience = aboutData.about.experience;
const aboutMe = aboutData.about.aboutMe;
---

<Layout>
  <Header />

  <div class="about-page w-[90%] m-auto">
    <div class="about-me mt-20">
      <h2
        class="text-2xl md:text-3xl font-bold text-center pt-5 text-gray-900 dark:text-white"
      >
        About me
      </h2>
      <div class="p-4 text-gray-700 dark:text-gray-300">
        {aboutMe.map((paragraph) => <p class="mb-4">{paragraph}</p>)}
      </div>
    </div>

    <h2
      class="text-2xl md:text-3xl font-bold text-center mt-7 mb-4 text-gray-900 dark:text-white"
    >
      Used Technologies
    </h2>
    <div
      class="technologies-used grid grid-cols-1 md:grid-cols-2 gap-4 p-4 mb-5"
    >
      <TechnologyCard title="Frontend" technologies={frontendTechnologies} />
      <TechnologyCard title="Backend" technologies={backendTechnologies} />
      <TechnologyCard title="DevOps" technologies={devopsTechnologies} />
      <TechnologyCard title="Other" technologies={otherTechnologies} />
    </div>

    <div class="grid grid-cols-1 md:grid-cols-2 gap-4 p-4 mb-10">
      <div>
        <h3
          class="text-xl md:text-2xl font-bold text-center text-gray-900 dark:text-white"
        >
          Education
        </h3>

        <EducationAndExperienceCard
          institutionImg={thomasMoreImg.src}
          institutionName={education.institutionName}
          program={education.program}
          degree={education.degree}
          startDate={education.startDate}
          endDate={education.endDate}
          description={education.description}
        />
      </div>

      <div>
        <h3
          class="text-xl md:text-2xl font-bold text-center text-gray-900 dark:text-white"
        >
          Experience
        </h3>

        <EducationAndExperienceCard
          institutionImg={avandeIcon.src}
          institutionName={experience[0].institutionName}
          program={experience[0].program}
          startDate={experience[0].startDate}
          endDate={experience[0].endDate}
          description={experience[0].description}
        />
      </div>
    </div>
  </div>

  <Footer />
</Layout>
