---
import Footer from "../components/Footer.astro";
import Header from "../components/Header.astro";
import TechnologyIconAndName from "../components/TechnologyIconAndName.astro";
import Layout from "../layouts/Layout.astro";
import technologies from "../data/technologies.json";

const frontendTechnologies = technologies.frontend;
const backendTechnologies = technologies.backend;
const devopsTechnologies = technologies.devops;
const otherTechnologies = technologies.others;
---

<Layout>
  <Header />

  <div class="about-page w-[90%] m-auto">
    <div class="about-me mt-20">
      <h2 class="text-xl md:text-2xl font-bold text-center">About me</h2>
      <p class="p-4">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Adipisci optio,
        autem doloribus culpa eveniet ab, quis illum error magni quisquam vitae
        nobis deserunt esse. Dolores aliquid amet doloremque ratione quibusdam.
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Aspernatur
        voluptate eum magnam dolorum maiores magni, repudiandae ad ea dolor.
        Sapiente temporibus a sit. Beatae numquam ipsa itaque tempora blanditiis
        consequatur.
      </p>
    </div>

    <h2 class="text-xl md:text-2xl font-bold text-center">Used Technologies</h2>
    <div class="technologies-used grid grid-cols-1 md:grid-cols-2 gap-4 p-4">
      <div class="frontend">
        <h3 class="text-lg font-semibold">Frontend</h3>
        <div>
          {
            frontendTechnologies.map((tech) => (
              <TechnologyIconAndName
                iconName={tech.iconName}
                techName={tech.techName}
              />
            ))
          }
        </div>
      </div>

      <div class="backend">
        <h3 class="text-lg font-semibold">Backend</h3>
        {
          backendTechnologies.map((tech) => (
            <TechnologyIconAndName
              iconName={tech.iconName}
              techName={tech.techName}
            />
          ))
        }
      </div>

      <div class="devops">
        <h3 class="text-lg font-semibold">DevOps</h3>

        {
          devopsTechnologies.map((tech) => (
            <TechnologyIconAndName
              iconName={tech.iconName}
              techName={tech.techName}
            />
          ))
        }
      </div>

      <div class="Others">
        <h3 class="text-lg font-semibold">Others</h3>
        {
          otherTechnologies.map((tech) => (
            <TechnologyIconAndName
              iconName={tech.iconName}
              techName={tech.techName}
            />
          ))
        }
      </div>
    </div>

    <div class="grid grid-cols-1 md:grid-cols-2 gap-4 p-4">
      <div>
        <h3 class="text-lg md:text-xl font-bold text-center">My education</h3>
        <p>
          Lorem ipsum dolor, sit amet consectetur adipisicing elit. Sapiente
          eligendi nam, consequatur eius quos voluptatem harum odio. Et, aut
          iste inventore quo, quod iusto eligendi ullam doloribus optio
          reiciendis vel?
        </p>
      </div>

      <div>
        <h3 class="text-lg md:text-xl font-bold text-center">My experience</h3>
        <p>
          Lorem ipsum dolor, sit amet consectetur adipisicing elit. Sapiente
          eligendi nam, consequatur eius quos voluptatem harum odio. Et, aut
          iste inventore quo, quod iusto eligendi ullam doloribus optio
          reiciendis vel?
        </p>
      </div>
    </div>
  </div>

  <Footer />
</Layout>
