---
import Footer from "../components/Footer.astro";
import Header from "../components/Header.astro";
import Layout from "../layouts/Layout.astro";
import technologies from "../data/technologies.json";
import TechnologyCard from "../components/about/TechnologyCard.astro";
import EducationAndExperienceCard from "../components/about/EducationAndExperienceCard.astro";
import thomasMoreImg from "../icons/thomasMoreLogo.svg";
import avandeIcon from "../icons/avanadeLogo.svg";

const frontendTechnologies = technologies.frontend;
const backendTechnologies = technologies.backend;
const devopsTechnologies = technologies.devops;
const otherTechnologies = technologies.others;
---

<Layout>
  <Header />

  <div class="about-page w-[90%] m-auto">
    <div class="about-me mt-20">
      <h2 class="text-xl md:text-2xl font-bold text-center">About me</h2>
      <p class="p-4">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Adipisci optio,
        autem doloribus culpa eveniet ab, quis illum error magni quisquam vitae
        nobis deserunt esse. Dolores aliquid amet doloremque ratione quibusdam.
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Aspernatur
        voluptate eum magnam dolorum maiores magni, repudiandae ad ea dolor.
        Sapiente temporibus a sit. Beatae numquam ipsa itaque tempora blanditiis
        consequatur.
      </p>
    </div>

    <h2 class="text-xl md:text-2xl font-bold text-center">Used Technologies</h2>
    <div class="technologies-used grid grid-cols-1 md:grid-cols-2 gap-4 p-4">
      <TechnologyCard title="Frontend" technologies={frontendTechnologies} />
      <TechnologyCard title="Backend" technologies={backendTechnologies} />
      <TechnologyCard title="DevOps" technologies={devopsTechnologies} />
      <TechnologyCard title="Other" technologies={otherTechnologies} />
    </div>

    <div class="grid grid-cols-1 md:grid-cols-2 gap-4 p-4">
      <div>
        <h3 class="text-lg md:text-xl font-bold text-center">My education</h3>

        <EducationAndExperienceCard
          institutionImg={thomasMoreImg.src}
          institutionName="Thomas More"
          program="Application Development"
          degree="Professional Bachelors"
          startDate="2022"
          endDate="2025"
          description="Lorem ipsum dolor sit amet consectetur adipisicing elit. Adipisci optio, lorem ipsum dolor sit amet consectetur adipisicing elit. Adipisci optio, autem doloribus culpa eveniet ab, quis illum error magni quisquam vitae nobis deserunt esse. Dolores aliquid amet doloremque ratione quibusdam. lorem ipsum dolor sit amet consectetur adipisicing elit. Adipisci optio, autem doloribus culpa eveniet ab, quis illum error magni quisquam vitae nobis deserunt esse. Dolores aliquid amet doloremque ratione quibusdam."
        />
      </div>

      <div>
        <h3 class="text-lg md:text-xl font-bold text-center">My experience</h3>

        <EducationAndExperienceCard
          institutionImg={avandeIcon.src}
          institutionName="Avanade"
          program="Software Engineer Intern"
          startDate="February 2025"
          endDate="June 2025"
          description="Lorem ipsum dolor sit amet consectetur adipisicing elit. Adipisci optio, lorem ipsum dolor sit amet consectetur adipisicing elit. Adipisci optio, autem doloribus culpa eveniet ab, quis illum error magni quisquam vitae nobis deserunt esse. Dolores aliquid amet doloremque ratione quibusdam. lorem ipsum dolor sit amet consectetur adipisicing elit. Adipisci optio, autem doloribus culpa eveniet ab, quis illum error magni quisquam vitae nobis deserunt esse. Dolores aliquid amet doloremque ratione quibusdam."
        />
      </div>
    </div>
  </div>

  <Footer />
</Layout>
