---
import IconTextAlign from "./IconTextAlign.astro";
interface Props {
  name: string;
  date: string;
  technologies?: string;
  jobTitle?: string;
  universityName?: string;
  description: string | string[];
}

const {
  name,
  date,
  technologies,
  jobTitle,
  description,
  universityName,
}: Props = Astro.props;
---

<div class="mb-[0.5rem]">
  <div class="flex flex-col md:flex-row md:justify-between md:items-center">
    <div>
      <h3 class="font-bold text-lg">{name}</h3>
      {technologies && <div class="text-sm text-blue-700">{technologies}</div>}
      {
        jobTitle && (
          <p class="text-base text-gray-600">
            <i>{jobTitle}</i>
          </p>
        )
      }
      {
        universityName && (
          <p class="text-sm text-gray-600">
            <IconTextAlign iconName="location" text={universityName} />
          </p>
        )
      }
    </div>
    <span class="text-sm text-gray-500">
      <IconTextAlign iconName="calendar" text={date} /></span
    >
  </div>
  {
    Array.isArray(description) ? (
      <ul class="list-disc ml-5">
        {description.map((item) => (
          <li>{item}</li>
        ))}
      </ul>
    ) : (
      <p>{description}</p>
    )
  }
</div>
