---
import IconTextAlign from "./IconTextAlign.astro";
import TextAndLevelFormat from "./TextAndLevelFormat.astro";
import cvData from "../../data/cv.json";
import generalData from "../../data/general.json";

const location = generalData.contactInformation.location;
const phone = generalData.contactInformation.phone;
const email = generalData.contactInformation.email;
const linkedIn = generalData.contactInformation.linkedIn;
const linkedInURL = generalData.contactInformation.linkedInUrl;
const nationality = generalData.contactInformation.nationality;
const programmingLanguages = cvData.cvLeftSide.skills.programmingLanguages;
const frameworksAndLibraries = cvData.cvLeftSide.skills.frameworksAndLibraries;
const toolsAndPlatforms = cvData.cvLeftSide.skills.toolsAndPlatforms;
const softSkills = cvData.cvLeftSide.skills.softSkills;
const spokenLanguages = cvData.cvLeftSide.skills.spokenLanguages;
---

<div
  class="left-side-container flex flex-col gap-4 p-5 md:w-[30%] md:max-w-[30%] bg-[#d9d9d9] print:bg-white"
>
  <div>
    <h2 class="md:text-lg sm:text-base font-bold">CONTACT</h2>
    <hr />
    <IconTextAlign iconName="home" text={location} section="contact" />
    <IconTextAlign iconName="phone" text={phone} section="contact" />
    <IconTextAlign
      iconName="email"
      text={email}
      section="contact"
      link={`mailto:${email}`}
    />
    <IconTextAlign iconName="world" text={nationality} section="contact" />
    <IconTextAlign
      iconName="linkedIn"
      text={linkedIn}
      section="contact"
      link={linkedInURL}
    />
  </div>

  <div>
    <h2 class="md:text-lg sm:text-base font-bold">SKILLS</h2>
    <hr />
    <div class="flex flex-col gap-2">
      <div>
        <p class="md:text-base sm:text-sm text-gray-800">
          <i>Programming Languages</i>
        </p>
        {
          programmingLanguages?.map((language) => (
            <TextAndLevelFormat
              language={language.name}
              level={language.proficiency}
            />
          ))
        }
      </div>
      <div>
        <p class="md:text-base sm:text-sm text-gray-800">
          <i>Frameworks & Libraries</i>
        </p>
        {
          frameworksAndLibraries?.map((framework) => (
            <TextAndLevelFormat
              language={framework.name}
              level={framework.proficiency}
            />
          ))
        }
      </div>
      <div>
        <p class="md:text-base sm:text-sm text-gray-800"><i>Tools</i></p>
        {
          toolsAndPlatforms?.map((tool) => (
            <TextAndLevelFormat language={tool.name} level={tool.proficiency} />
          ))
        }
      </div>
      <div>
        <p class="md:text-base sm:text-sm text-gray-800"><i>Soft skills</i></p>
        <p class="text-sm">
          {softSkills.join(", ")}
        </p>
      </div>
      <div>
        <p class="md:text-base sm:text-sm text-gray-800"><i>Languages</i></p>
        {
          spokenLanguages?.map((language) => (
            <TextAndLevelFormat
              language={language.name}
              level={language.proficiency}
            />
          ))
        }
      </div>
    </div>
  </div>
</div>

<style>
  @media print {
    .border-r-1 {
      border: 0px;
    }

    .left-side-container {
      margin: 0;
      width: 35%;
      padding-top: 0;
      max-width: 35%;
    }
  }
</style>
