---
import CVItem from "./CVItem.astro";
import IconTextAlign from "./IconTextAlign.astro";
import cvData from "../../data/cv.json";

const education = cvData.cvMainSide.education;
const professionalExperience = cvData.cvMainSide.professionalExperience;
const projects = cvData.cvMainSide.projects;
const otherExperiences = cvData.cvMainSide.otherExperience;
---

<div class="main-container md:max-w-[70%] flex flex-col gap-4 p-5">
  <div class="h-[85%] flex flex-col gap-4">
    <div>
      <IconTextAlign iconName="graduate-cap" text="EDUCATION" section="title" />

      <hr />
      <CVItem
        name={education.name}
        date={education.date}
        universityName={education.universityName}
        description={education.description}
      />
    </div>

    <div>
      <IconTextAlign
        iconName="work-case"
        text="PROFESSIONAL EXPERIENCE"
        section="title"
      />

      <hr />
      <div class="mb-4">
        {
          professionalExperience.map((experience) => (
            <CVItem
              name={experience.companyName}
              date={experience.date}
              jobTitle={experience.jobTitle}
              description={experience.responsibilities}
            />
          ))
        }

        <p
          class="md:text-lg sm:text-base font-semibold text-gray-900 dark:text-white"
        >
          Other Work Experience
        </p>
        <p class="text-sm text-gray-700 dark:text-gray-300">
          <i>Student Jobs</i>
        </p>

        <ul class="list-disc ml-5 text-sm text-gray-900 dark:text-white">
          {otherExperiences.map((job) => <li>{job}</li>)}
        </ul>
      </div>
      <div>
        <IconTextAlign iconName="tool" text="PROJECTS" section="title" />
        <hr />
      </div>
      <div class="flex flex-col gap-4">
        {
          projects.map((project) => (
            <CVItem
              name={project.projectName}
              date={project.date}
              technologies={project.technologies}
              description={project.description}
            />
          ))
        }
      </div>
    </div>
  </div>
</div>

<style>
  @media print {
    .border-r-1 {
      border: 0px;
    }

    .main-container {
      margin: 0;
      padding-top: 0;
      width: 65%;
      max-width: 65%;
    }
  }
</style>
