---
import { Icon } from "astro-icon/components";

interface Props {
  iconName: string;
  text: string;
  section?: string;
  link?: string;
}

const { iconName, text, section, link }: Props = Astro.props;
---

<p class="flex items-center">
  {
    section === "title" ? (
      <>
        <>
          <Icon name={iconName} class="w-5 h-5 md:w-6 md:h-6 mb-[0.2rem]" />
          <span class="ml-[0.8rem] md:text-lg sm:text-base font-bold mb-[0.3rem]">
            {text}
          </span>
        </>
      </>
    ) : section === "contact" ? (
      <>
        <>
          <Icon name={iconName} class="text-[#262626]" />
          <span class="ml-[0.8rem] text-sm mt-[0.2rem]">
            <a href={link} target="_blank">
              {text}
            </a>
          </span>
        </>
      </>
    ) : (
      <>
        <>
          <Icon name={iconName} class="text-gray-500" />
          <span class="ml-[0.3rem] text-sm">{text}</span>
        </>
      </>
    )
  }
</p>
